#body {
  background-image: url("https://media.istockphoto.com/id/1358618201/vector/shopping-bags-seamless-background-backdrop-for-marketplace-or-online-shop-website-seasonal.jpg?s=170667a&w=0&k=20&c=-lmRokixirp7GdGxObdO9M8KgNt5t54IseK23hqQOkw=");
  background-position-x: 2rem;
}
#fetchCard {
  border-radius: 20px;
}
a {
  text-decoration: none;
  color: black;
}
#cart {
  background-color: #e1bc92;
  width: 100px;
  border-radius: 20px;
  height: 40px;
  padding-left: 20px;
}
a:hover {
  color: rgb(2, 2, 2);
  text-decoration: none;
}
h6 {
  position: relative;
  left: -29px;
  top: -1px;
}
